.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media screen and (max-device-width: 420px) {
  body .jumbotron {
      background: url('../img/cover_back\ 420\ px.png');
      height: 30vh;
  }
}
@media screen and (max-device-width: 390px) {
  body .jumbotron {
      background: url('../img/cover_back\ 390\ px.png');
      height: 30vh;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.limpiar {
  background: #20a9be5b;
  padding: 0.5em;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #20a9be;
  font-weight: 600;
}

.limpiar:hover {
  background: #20a9be78;
  color: #0ab3cd;
}

.filtrar {
  background: #57b97456;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.8em;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #57b974;
  font-weight: 600;
}

.filtrar:hover {
  background: #57b9747d;
  color: #33b059;
}

.filtrar_cat {
  background: #57b97456;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.8em;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #57b974;
  font-weight: 600;
}

.filtrar_cat:hover {
  background: #57b9747d;
  color: #33b059;
}

.maxmin {
  width: 5em;
  height: 2.5em;
  background: rgba(119, 119, 119, 0.139);
  padding: 0.8em;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #777;
  font-weight: 600;
  margin-right: -2em;
}

.maxmin_cat {
  width: 10em;
  height: 2.5em;
  background: rgba(119, 119, 119, 0.139);
  padding: 0.8em;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #777;
  font-weight: 600;
  margin-right: -8;
}

.cant {
  margin-top: 0.5em;
  margin-left: 2em;
  font-weight: 600;
  color: #777;
}

.sortbt {
  margin-top: 0.35em;
  width: 5em;
  text-align: center;
  border-radius: 10px;
  background: #fcee7561;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5em;
  color: #57b974;
  margin-left: 0.2em;
}

.buscador {
  float: left;
  width: 26.1em;
  min-height: 2.2em;
  border-radius: 10px;
  background: #fcee7561;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5em;
}

.buscador::placeholder {
  font-size: larger;
  font-weight: 600;
  color: #57b974;
}



.correo_usuario {

  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 5%;
  color:#ffffff;
}


.cerrar {
  margin-top: 3%;
  background: none;
  border-style: dashed;
  border-width: 2.9px;
  border-radius: 15px;
  border-color: #7cedc7a4;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  color: #7cdeed;
  font-weight: 200;
}

.cerrar:hover {
  color: #fcee7586;
  border-color: #7cdeedc5;
}

.footer {
  margin-left: 12.5rem;
  margin-right: 12.5rem;

}
.volver_arriba {
  float: inline-end;
  background: linear-gradient(to right, #7cdeed96, #78d5948a);
  color: #20a9be;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 140px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 2em;
  text-decoration: none;
}

.volver_arriba:hover {
  background: #fcef75;
}

.footer p {
  color: #259647;
  font-size: large;
}

.titles {
  position: relative;
    color: #20a9be; 
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}


.titles::before {
  content: '';
  position: absolute;
  left: auto;
  bottom: -10px;
  width: 150px;
  height: 4px;
  background:linear-gradient(to right, #7cdeed96, #78d5948a);
}

.subtitles {
  color: #20a9be;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;

}
.cont_listas {
    background: #c7c7c756;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.listas {
  list-style: none;
  padding: 0.5em;
  border-bottom: 1px solid rgba(108, 108, 108, 0.2);;
}

.listas:hover {
  background: linear-gradient(to right, #7cdeed78, #78d5946b);
  border-radius: 10px;
}

.listas img {
  padding: 0.2em;
  border-radius: 10px;
  background: #c7c7c756;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.listas .nombre_productos{
  color: #57b974; 
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 1.5em;
  vertical-align: top;
}

.listas .nombre_productos p {
  font-size: 18px;
  color: #1a1a1a; 
  font-weight: 500;
  letter-spacing: 1px;
}

.listas small {
  float: right;
  color: #259647;
}
.listas img {
  width: 300px;

}

.opciones {
  position: absolute;
  top: 0;
  right: 10%;
  width: 200px;
  height: 48px;
  background: transparent;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
}


.opciones.active {
 width: 300px;
 height: 300px;
 transition:  width  0.5s, height 0.5s;
 transition-delay: 0s, 0.75s;
 border-radius: 5px;
 background: #fff;
 z-index: 1;
}

.opciones .userBx {
  position: relative;
  width: 60px;
  height: 48px;
  background: transparent;
  /*overflow: hidden;*/
  display: flex;
  align-items: center;
}

.opciones.active .userBx{
  width: calc(100% - 48px);
}
.opciones .userBx .nombre_usuario {
  width: 100%;
  margin-left: 5px;
  margin-top: 15px;
  margin-right: 5px;
  color: #48abe0;
  font-size: 1.1em;
  font-weight: 600;
}

.opciones .userBx .imgBx {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  
}


.opciones .userBx .imgBx img{
  position: absolute;
  top: 5.5px;
  left: 5px;
  width: 80%;
  object-fit: cover;
}

.opciones .menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opciones .menuToggle::before{
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: rgb(146, 144, 144);
  transform: translateY(-10px);
  box-shadow: 0 10px rgb(146, 144, 144);
  transition: 0.5s;
  margin-bottom: 0.8em;
}

.opciones .menuToggle::after{
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background: rgb(146, 144, 144);
  box-shadow: 0 10px rgb(146, 144, 144);
  transition: 0.5s;
  margin-bottom: 0.8em;
}

.opciones.active .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 #555;
}

.opciones.active .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 #555;
}

.menu {
  position: absolute;
  width: 100%;
  height: calc(100% - 48px);
  margin-top: 48px;
  padding: 20px;
  border-top: 5px solid #53c0fba3;
}

.menu li {
  list-style: none;
}


.menu li a {
  display: inline-block;
  align-items: center;
  padding:20px 0;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: #555;
}

.menu li a:hover {
  color: #30789e;
  background: linear-gradient(to right, #7cdeed78, #78d5946b);
  border-radius: 5px;
  width: 100%;
  padding-left: 2em;
}

.menu li a i {
  font-size: 1.5em;
  margin-right: 10px;
}


@media screen and (max-device-width: 430px) {
  .footer {
    margin-left: 0;
    margin-right: 0;
  }

  .cont_listas {
    width: 98%;
    background: #c7c7c756;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

  .listas {
    list-style: none;
    padding: 0em;
    border-bottom: 1px solid rgba(108, 108, 108, 0.2);;
  }

  .listas:hover {
    background: #fcee755f;
    border-radius: 10px;
  }

  .listas img {
    padding: 0.2em;
    border-radius: 10px;
    background: #c7c7c756;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .listas .nombre_productos{
    color: #57b974; 
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 0.5em;
    vertical-align: top;
  }

  .listas .nombre_productos p {
    font-size: 13px;
    color: #1a1a1a; 
    font-weight: 500;
    letter-spacing: 1px;
  }

  .listas small {
    float: inherit;
    color: #1a1a1a;
  }
  .listas img {
    width: 200px;

  }

  .limpiar {
    background: #20a9be5b;
    padding: 0.5em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #20a9be;
    font-weight: 600;
  }
  
  .limpiar:hover {
    background: #20a9be78;
    color: #0ab3cd;
  }

  .filtrar_cat {
      background: #57b97456;
      padding: 0.5em;
      margin-right: 0.2em;
      margin-left: -3.5em;
      border-radius: 10px;
      backdrop-filter: blur(5px);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      color: #57b974;
      font-weight: 600;
  }
  
  .filtrar {
    background: #57b97456;
    padding: 0.5em;
    margin-right: none;
    margin-left: -2em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #57b974;
    font-weight: 600;
  }
  
  .filtrar:hover {
    background: #57b9747d;
    color: #33b059;
  }
  
  .maxmin {
    width: 5em;
    height: 2.5em;
    background: rgba(119, 119, 119, 0.139);
    padding: 0.8em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #777;
    font-weight: 600;
    margin-right: 1.8em;
    margin-left: -3em;
  }
  
  .maxmin_cat {
    width: 5em;
    height: 2.5em;
    background: rgba(119, 119, 119, 0.139);
    padding: 0.8em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #777;
    font-weight: 600;
    margin-right: -8em;
    margin-left: -4em;
  }
  
  .cant {
    
    margin-top: 0.8em;
    margin-left: -1.5em;
    font-size: smaller;
    font-weight: 600;
    color: #777;
  }
  
  .sortbt {
    
    margin-top: 0.35%;
    width: 4em;
    height: 2.5em;
    text-align: center;
    border-radius: 10px;
    background: #fcee7561;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    color: #57b974;
    font-size: smaller;
  }
  
  .buscador {
    position: absolute;
    float: left;
    margin-top: -3.7em;
    width: 11.5em;
    min-height: 2.2em;
    border-radius: 10px;
    background: #fcee7561;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
    padding-left: 0.2em;
  }
  
  .buscador::placeholder {
    font-size: medium;
    font-weight: 600;
    color: #57b974;

    
  }

  .opciones {
  position: relative;
  top: 0;
  right: 0;
  width: 200px;
  height: 48px;
  background: transparent;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
}



.opciones.active {
 width: 300px;
 height: 300px;
 transition:  width  0.5s, height 0.5s;
 transition-delay: 0s, 0.75s;
 border-radius: 5px;
 background: none;
 z-index: 1;
}

.opciones .userBx {
  position: relative;
  width: 60px;
  height: 48px;
  background: transparent;
  /*overflow: hidden;*/
  display: flex;
  align-items: center;
}

.opciones.active .userBx{
  width: calc(100% - 48px);
}
.opciones .userBx .nombre_usuario {
  margin-left: 5px;
  margin-top: 15px;
  margin-right: 5px;
  color: #48abe0;
  font-size: 1.1em;
  font-weight: 700;
}

.opciones .userBx .imgBx {
display: none;
}


.opciones .userBx .imgBx img{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  object-fit: cover;
}

.opciones .menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opciones .menuToggle::before{
  content: '';
  position: absolute;
  margin-left: -5em;
  width: 22.5px;
  height: 2px;
  background: rgb(146, 144, 144);
  transform: translateX(-2px) translateY(-5px) rotate(50deg);
  box-shadow: 0 10px transparent;
  transition: 0.5s;
}

.opciones .menuToggle::after{
  content: '';
  position: absolute;
  margin-left: -5em;
  width: 22.5px;
  height: 2px;
  background: rgb(146, 144, 144);
  transform: translateX(12px) translateY(-5px) rotate(-50deg);
  box-shadow: 0 10px transparent;
  transition: 0.5s;
}

.opciones.active .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 #555;
}

.opciones.active .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 #555;
}

.menu {
  position: absolute;
  width: 100%;
  height: calc(100% - 48px);
  margin-top: 48px;
  padding: 20px;
  border-top: 5px solid #53c0fba3;
}

.menu li {
  list-style: none;
}


.menu li a {
  display: inline-block;
  align-items: center;
  padding:20px 0;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  color: #aaa;
}

.menu li a:hover {
  color: #30789e;
  background: linear-gradient(to right, #7cdeed78, #78d5946b);
  border-radius: 5px;
  width: 100%;
  padding-left: 2em;
}

.menu li a i {
  font-size: 1.5em;
  margin-right: 10px;
}
  
}

@media screen and (max-device-width: 360px) {
    
  .maxmin {
    width: 4.9em;
    height: 2.5em;
    background: rgba(119, 119, 119, 0.139);
    padding: 0.8em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #777;
    font-weight: 600;
    margin-right: 1.8em;
    margin-left: -3em;
  }
  
  .maxmin_cat {
    width: 10em;
    height: 2.5em;
    background: rgba(119, 119, 119, 0.139);
    padding: 0.8em;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #777;
    font-weight: 600;
    margin-right: -8;
  }
  
  .cant {
    
    margin-top: 0.8em;
    margin-left: -1.8em;
    font-size: smaller;
    font-weight: 600;
    color: #777;
  }

  .buscador {
    position: absolute;
    float: left;
    margin-top: -3.7em;
    width: 10em;
    min-height: 2.2em;
    border-radius: 10px;
    background: #fcee7561;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
    padding-left: 0.2em;
  }
  
}




